<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- Configuracion de carpeta con fotos de productos-->
		<!-- <add key="CalderoFotosApp" value="C:\Users\Usuario\Documents\REPOSITORIOS\ElCalderoChorreanteApp\CalderoFotosApp\"/> -->
		<add key="CalderoFotosWeb" value="C:\Users\Usuario\Documents\REPOSITORIOS\ElCalderoChorreanteWeb\CalderoWeb\CalderoFotosWeb\"/>
		<!-- Configuracion de carpeta con fotos de categorias-->
		<add key="CategoriasFotosWeb" value="C:\Users\Usuario\Documents\REPOSITORIOS\ElCalderoChorreanteWeb\CalderoWeb\CategoriasFotosWeb\"/>
	</appSettings>
</configuration>